#home1{background-color: #ffffff}
body {
 background-color: #ffffff;
 color: ##000000;
}
h1 {
 color: #000000;
 text-align: center;
 font: sansserif;
 }
 h2 {
 color: #000000;
 text-align: left;
 font: sansserif;
 }
#container{width:400px;
	border: 10px solid black;
	margin: 0 auto;}
div {
    padding: 20px 0;
    border: 3px solid #000000;
}
#MultimediaProgrammingDesign{background-color: #ffffff}
body {
 background-color: #ffffff;
 color: ##000000;
}
h1 {
 color: #000000;
 text-align: center;
 font: sansserif;
 }
 h2 {
 color: #000000;
 text-align: left;
 font: sansserif;
 }
#container{width:400px;
	border: 10px solid black;
	margin: 0 auto;}
div {
    padding: 20px 0;
    border: 3px solid #000000;
}


#animation{background-color: #ffffff}
body {
 background-color: #ffffff;
 color: ##000000;
}
h1 {
 color: #000000;
 text-align: center;
 font: sansserif;
 }
 h2 {
 color: #000000;
 text-align: left;
 font: sansserif;
 }
#container{width:400px;
	border: 10px solid black;
	margin: 0 auto;}
div {
    padding: 20px 0;
    border: 3px solid #000000;
}

#videoarts{background-color: #ffffff}
body {
 background-color: #ffffff;
 color: ##000000;
}
h1 {
 color: #000000;
 text-align: center;
 font: sansserif;
 }
 h2 {
 color: #000000;
 text-align: left;
 font: sansserif;
 }
#container{width:400px;
	border: 10px solid black;
	margin: 0 auto;}
div {
    padding: 20px 0;
    border: 3px solid #000000;
}




